<!DOCTYPE html>
<html lang="en">
<head>
  <title>KPay Komodo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
   .btn-subscribe {
     background-color: green;
     color : white;
   }

    .site-header{

    }
    .site-header .layout-hero {
      min-height: 50vh;

    }
 
     .site-header .page-section-title{
      font-size: 3em;
    }
    .site-header .page-section-text{
      font-size: 1.2em;
    }

    .site-header .jumbotron_first {
    background-color: #f4511e;
    }
    .site-header .jumbotron_second {
      background-color:lightgray;
    }

  .site-footer {
    background-color: lightgray;
  }
 

 
  </style>
</head>
<body>

<header id="page-hero" class="site-header">
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">KPay</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a <a href="https://komodoplatform.com/">Komodo</a></li>
          <li class="nav-item"><a href="#">Services</a></li>
          <li class="nav-item"><a href="#">Contact</a></li> 
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="signup"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
        </ul>
        </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron_first text-center">
  <h1>Kpay</h1> 
  <p>We specialize in Digital Cryptocurrenty</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-subscribe">Subscribe</button>
      </div>
    </div>
  </form>
</div>


  
  <section class="layout-hero jumbotron text-center " >
    <div class="container" style="background-image: url('komodo');"> 
           <h4 class="page-section-title">RPC API-Library for Komodo-based asset chains, for Rust Developers</h4>
           <p class="page-section-text">Komodo-RPC library helps you integrate your Rust Apps with Komodo asset-chains without having to setup/implement required RPC functions. Install this Rust library and call Komodo-API RPCs as easily as calling a local function. Komodo-RPC library acts as a wrapper between your Rust app and the Komodo-daemon running on a server. </p>
     
    </div>
   
  </section>
  

  <!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Komodo Master</div>
        </div>
      </div>
    </div>

       <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Web Master</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Rust Master</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Rocket Master</div>
        </div>
      </div>

   
</header>
    <!-- Container (Contact Section) -->
<div class="container-fluid site-footer">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> University of Texas Arlington</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> kpay_customer@kpay.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
